# Editor configuration, see https://editorconfig.org
root = true

# Default für alle Dateien – LF als plattformneutraler Zeilenumbruch
[*]
charset = utf-8
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true
end_of_line = lf

# Windows-spezifische Dateien – CRLF
[*.bat]
end_of_line = crlf

[*.cmd]
end_of_line = crlf

[*.ps1]
end_of_line = crlf

[*.ics]
end_of_line = crlf

# Shell-Skripte – für Unix/macOS
[*.sh]
indent_style = space
indent_size = 4
end_of_line = lf

# Spezielle Shell-Formatierung (shfmt etc.)
shell_variant = posix
binary_next_line = true
switch_case_indent = true
space_redirects = true
keep_padding = true

# Ausschluss: Drittanbieter-Skripte vom Formatieren
[third_party/**]
ignore = true

# Markdown – keine automatische Leerzeichenentfernung
[*.md]
trim_trailing_whitespace = false
max_line_length = off
end_of_line = lf

# TypeScript – Single Quotes
[*.ts]
quote_type = single

# Makefile – Tab-indention
[Makefile]
indent_style = tab
