# famous file extensions
.*
!.git-crypt
!.gitpod*
!.gitignore
!.gitattributes
!.github
!.gitlab
!.gitsecret
!.terraformignore
!.pre-commit-config.yaml
!.pre-commit-check-config.yaml
!.gitlab-ci.yml
!.licenserc.yaml
!.semver-version
.gitsecret/keys/random_seed
!*.secret
!.updatePreRelease.ps1
!.updatePostRelease.ps1
!.changelogs
!.editorconfig
*~
*.swp
*.log
*.orig

# famous directories
target
bin
build
logs
work
out
lib
dist
test-output
coverage
temp
tmp
packages
